Body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: normal;
  }


.container {
  width: 900px;
  margin: auto;
  height: auto;
  padding-top: 0px;
  padding-left: 0px;
  }

.h2 {
  width: 900px;
  margin: auto;
  height: auto;
  padding-top: 69px;
  padding-left: 0px;

}

  .case {
    width: 900px;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-top: 69px;
    padding-left: 0px;
}

h1 {
  color: blue;


}

#line {
color:#808080;
size:3px;
width:75%;
z-index: -1;
}
